.tripleImageBannerContainer {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  position: relative;
  /* margin-top: 70px; */
  height: calc(100vh - 80px);
  /* padding-right: 15px; */
  /* padding-bottom: 15px; */
  box-sizing: border-box;
  width:100%;
}
.tripleImageBannerImageContainer {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top, center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.tripleImageBannerImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  object-fit: cover;
  object-position: center;
}
.tripleImageBannerButton {
  border: 2px solid #BD1615;
  background-color: #BD1615;
  color: white;
  font-size: 1.4rem;
  padding: 5px 10px 5px 10px;
  position: absolute;
  transition: all .3s ease-in-out;
  bottom: 30px;
  font-weight: bold;
  cursor: pointer;
}
.tripleImageBannerButton:hover {
  color: #BD1615;
  border-color: white;
  background-color: white;

}

.redStripe {
  position: absolute;
  height:10px;
  width: 100%;
  background-color: #BD1615;
  top: 0;
}