.mobileNavContainer {
  height: 70px;
  width: 100%;
  position: relative;
  top:0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  display: none;
}
.desktopNavContainer {
  height: 70px;
  width: 100%;
  position: relative;
  top:0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.logo {
  font-family: "Bebas Neue";
  font-size: 40px;
  width: calc(90% - 180px);
  display: flex;
  justify-content: center;
  color:  #BD1616
}

.burgerMenuBar {
  height: 7px;
  width: 40px;
  border-radius: 10px;
  background: black;
}
.checkBoxForButton {
  display: none;
}
.navPlaceholder {
  width:10%;
}
.drawerMenu {
  z-index: 100;
}
.desktopIcons {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  margin-right: 20px;
}
.redStripe {
  height:10px;
  width: 100%;
  background-color: #BD1615;
}
@media (max-width: 750px) {
  .mobileNavContainer {
    display: flex;
  }
  .desktopNavContainer {
    display: none;
  }
}