.navContainer {
  height: 70px;
  width: 100%;
  position: relative;
  top:0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.logo {
  font-family: "Caramel";
  font-size: 40px;
}

.burgerMenuBar {
  height: 7px;
  width: 40px;
  border-radius: 10px;
  background: black;
}
.checkBoxForButton {
  display: none;
}

.drawerMenu {
  z-index: 100;
}

