@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Quicksand:wght@400;500&display=swap&family=Rajdhani&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand';
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

