.homeContainer {
 
}
/* .landingCarousel {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  height: calc(100vh - 90px);
  box-sizing: border-box;
  width:100%;
} */
.carouselArrowContainer {
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: space-between;
  position: absolute;
  right: 30px;
  top: calc(50vh - 20px);
  cursor: pointer;
  z-index: 8;
}
.carouselArrowDot {
  height: 15px;
  width: 15px;
  background-color: black;
  border-radius: 15px;
}
.carouselArrowDotMiddle {
  margin-left: 20px;
}
.homeImage {
  width: 400px;
  border-radius: 5px;
  overflow: hidden;
}

.halfSceenAdsContainer {
  display: flex;
}
.parralaxOne {
  background-image: url('/images/parrallax-mens.jpg');
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.parralaxTwo {
  background-image: url('/images/parrallax-womens.jpg');
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.featuredCollectionOne {
  width: 100%;
  height: 800px;
  background-color: white;
}
